[submodule "leaderboard"]
	path = leaderboard
	url = https://github.com/carla-simulator/leaderboard.git
[submodule "scenario_runner"]
	path = scenario_runner
	url = https://github.com/carla-simulator/scenario_runner
